---
# Only the main Sass file needs front matter
---

@import "minimal-mistakes";

/* Make the navbar logo bigger */
.masthead__inner-wrap .site-logo img {
  max-height: 64px;   /* adjust size here */
}

/* Hide the site title text next to the logo */
.masthead__inner-wrap .site-title {
  display: none !important;
}
