---
# Only the main Sass file needs front matter
---

@import "minimal-mistakes";

/* Make the navbar logo bigger */
.site-logo img {
  height: 50px !important;    /* try 100px for now */
  max-height: none !important;
  width: auto;
}

/* Hide the site title text next to the logo */
.site-title {
  display: none !important;
}
